@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fugaz+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --logoblue: #0a336d;
    --logoyellow: #ceff00;
    --light: #f8f9fa;
    --dark: #212529;
}

html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background: var(--dark) !important;
}


header {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    background: radial-gradient(rgba(0, 0, 0, 0.75), transparent, transparent), url('images/soccer\ pics/abigail-keenan-8-s5QuUBtyM-unsplash.jpg') center/cover no-repeat;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .row {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat';
            color: var(--light);
            text-align: center;
            font-weight: bold;

            h1 {
                font-weight: 1000;
            }

            a {
                color: var(--logoblue);
                background: var(--logoyellow);
                width: max-content;
                padding: 10px 25px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 1000;
                transition: 0.3s ease;
                position: relative;
                overflow: hidden;

                span {
                    position: relative;
                    z-index: 1;
                    transition: 0.2s ease;
                }
            }
            a::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: -100%;
                background: var(--logoblue);
                transition: 0.4s ease;
            }
            a:hover::after {
                left: 0;
            }
            a:hover span {
                color: var(--logoyellow);
            }
        }
    }
}

.container.cards {
    display: flex;
    flex-direction: column;
    gap: 100px;

    h1 {
        color: var(--light);
        font-size: 50px;
        font-weight: bold;
        font-family: 'Montserrat';
        text-align: center;
        margin-bottom: 10px;
    }

    .col-lg-6 {
        background: var(--logoblue);
        color: var(--logoyellow);
        font-weight: bold;
        font-family: 'Montserrat';
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;

        p {
            padding: 30px;
            margin: 0;
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .container.cards {
        .wrapper {
            gap: 50px;
        }
    }
}

.container.form {
    h1 {
        font-family: 'Montserrat';
        font-weight: 1000;
        color: var(--light);
        text-align: center;
        font-size: 40px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .row {
            width: 100%;
            max-width: 700px;
            gap: 10px;

            input, textarea {
                border: 2px solid rgba(255, 255, 255, 0.25);
                box-shadow: none !important;
                font-family: 'Montserrat';
                font-weight: bold;
                color: var(--light);
                background: transparent;
                border-radius: 5px;
                border-bottom: 2px solid var(--light);
            }

            label, label::before, label::after {
                background: transparent;
                color: var(--light);
                font-family: 'Montserrat';
                font-weight: bold;
            }

            textarea {
                min-height: 10rem;
            }
        }
        .row:nth-child(1) {
            gap: 0;
            .col-lg-6:nth-child(1) {
                padding-right: 5px;
            }
            .col-lg-6:nth-child(2) {
                padding-left: 5px;
            }
        }
        .row.button {
            display: flex;
            justify-content: center;
            width: 100%;

            button {
                color: var(--logoblue);
                background: var(--logoyellow);
                width: max-content;
                padding: 10px 30px;
                font-family: 'Montserrat';
                font-size: 20px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 1000;
                transition: 0.3s ease;
                position: relative;
                overflow: hidden;
                border: none;

                span {
                    position: relative;
                    z-index: 1;
                    transition: 0.2s ease;
                }
            }
            button::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: -100%;
                background: var(--logoblue);
                transition: 0.4s ease;
            }
            button:hover::after {
                left: 0;
            }
            button:hover span {
                color: var(--logoyellow);
            }
        }
    }
}
@media (max-width: 767px) {
    .container.form {
        form {
            .row:nth-child(1) {
                gap: 10px;
                .col-lg-6 {
                    padding: 0 !important;
                }
            }
        }
    }
}

footer {
    background: #000;
    width: 100%;

    .container-fluid {
        display: flex;
        flex-direction: column;
        gap: 100px;

        .top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 50px;
    
            .image {
                img {
                    height: 120px;
                }
            }
        
            .socials {
                display: flex;
                justify-content: end;
                gap: 15px;
        
                a {
                    svg {
                        fill: var(--light);
                    }
                }
                a:hover {
                    svg {
                        fill: var(--logoyellow);
                    }
                }
            }
        }
    
        .bottom {
            color: rgba(248, 249, 250, 0.5);
            font-family: 'Montserrat';
        }
    }
}
@media (max-width: 450px) {
    footer .container-fluid .top .image,
    footer .container-fluid .top .socials {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}