@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fugaz+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.col-lg-6 {
    background: var(--logoblue);
    color: var(--logoyellow);

    p {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 20px;
        margin: 0;
    }
}