@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fugaz+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

footer {
    background: #000;

    .container-fluid {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 50px;
            margin-bottom: 200px;
    
            .image {
                img {
                    height: 75px;
                }
            }
        
            .socials {
                display: flex;
                justify-content: end;
                gap: 15px;
        
                a {
                    svg {
                        fill: var(--light);
                    }
                }
                a:hover {
                    svg {
                        fill: var(--logoyellow);
                    }
                }
            }
        }
    
        .links {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 50px;

            .link-column {
                display: flex;
                flex-direction: column;

                p {
                    margin: 0;
                    color: var(--light);
                    font-family: 'Montserrat';
                    font-weight: bold;
                }
    
                a {
                    font-family: 'Montserrat';
                    font-weight: bold;
                    text-decoration: none;
                    color: rgba(248, 249, 250, 0.5);
                    transition: 0.3s ease;
                }
                a:hover {
                    text-decoration: underline;
                    color: var(--light);
                }
            }
        }
    
        .bottom {
            color: rgba(248, 249, 250, 0.5);
            font-family: 'Montserrat';
        }
    }

    hr {
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.5);
        border: none;
        border-radius: 20px;
    }
}
@media (max-width: 350px) {
    footer .container-fluid .top .image,
    footer .container-fluid .top .socials,
    footer .container-fluid .links .link-column {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}